body{
    position: relative;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: black ;
    color: white;
}
.loDeArriba{
    display: flex;
    width:100% ;
    height:10px ;
    top: 0px;
    left: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.logo{
    max-width: 0;
    margin-left: 280px;
}
.opc{
    display: inline-flex;
    margin-right: 230px;
} 
.opcsSuperiores{
    padding-right: 20px;
    margin: 0;
}
.inicio{
    background-image: url(img/pexels-nao-triponez-129207.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 60px;
    padding-top: 0px;
}
.titulo{
    padding-top: 5%;
}
.subtitulo{
    padding-top: 28%;
}
.boton{
    color: black;
    font-size: 15px;
    width: 150px;
    padding: 10px;
    align-items: start;
    background-color: #ecb55f;
}
#ShopNow{
    align-self: center;
    margin-bottom: 14%;
}
.primeraCosa{
    display: flex;
    flex-wrap: wrap;
    align-items: row;
    width: 100%;
    right: auto;
    margin-bottom: 10%;
}
#Primeraimg{
    width: 50%;
    height: 80%;
}
#text1{
    flex-basis: 50px;
    flex-grow: 1;
    padding-right: 10%;
    padding-left: 4%;
    padding-top: 4%;
}
.encabezado{
    font-size: 60px;
}
.segundaCosa{
    display: flex;
    flex-wrap: wrap;
    align-items: row;
    width: 100%;
    right: auto;
}
#text2{
    flex-basis: 70px;
    flex-grow: 1;
    margin-left: 8%;
}
.terceraCosa{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#TProductos{
    align-content: start;
    margin-left: 4%;
    margin-top: 10%;
    margin-bottom: 2%;
}
#los{
    display: flex;
    position: relative;
    padding-top: 4%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.PRODUCTS{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ecb55f;
    border-radius: 10px;
    padding: 5%;
    padding-bottom: 1%;
    height: 300px;
}
.cafeimgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#cafe1{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 175px;
}
#cafe2{
    position: absolute;
    top: 0;
}
#cafe3{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 175px;
}
.ultima{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.loUltimo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.opcsAbajo{
    height: 60px;
    display: inline-flex;
    justify-content: space-around;
    font-size: 30px;
    margin-bottom: 8%;
}
.naranjita{
    margin-left: 15px;
    color:  #ecb55f;
}
.loUltimo p{
    text-align: center;
}
.granfinal{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
}
#linea{
    color: #ecb55f;
    margin-top: 4%;
    margin-bottom: 15%;
}
#linea2{
    color: #ecb55f;
    margin-top: 4%;
    margin-top: 9%;
}