.elemen{
    background-color: aqua;
    width: 20vh;
    height: 20vh;
    color: white;
    text-align: center;
    line-height: 200px;
    /*duracion de la animacion*/
    transition-duration: 3s;
    transition-delay: 1s;
    transition-timing-function: linear;
}
.elemen:hover{
    width: 30vh;
    height: 30vh;
    background-color: black;
}
a{
    background-color: black;
    color: white ;
    padding: 8px;
    font-size: 50px;
    transition: font-size 3s, background-color 5s;
}
a:hover{
    background-color: green;
    font-size: 20px;
}
.ejemplo3{
    background-color: blue;
    height: 30px;
    color: white;
    width: 200px;
}
.ejemplo3:hover{
    animation: cambiar-color 5s;
}
@keyframes cambiar-color{
    0%{
        background-color: yellow;
    }
    25%{
        background-color: blueviolet;
    }
    30%{
        background-color: red ;
    }
    75%{
        background-color: green;
    }
    100%{
        background-color: blue;
    }
}
.matachito{
    margin: 0;
    image-rendering: pixelated;
    position: relative;
    width: 60px;
    height: 100px;
    background-image: url('../img/attachment-1.png');
    background-size:cover;
    bottom: 30px;
    animation: movimiento .80s steps(3) infinite;
}

@keyframes movimiento{
    from{
background-position: 0px;
    }
    to{
        background-position: -2000px;
    }
}
  